/**
 * Fonts
 */

@mixin accentFontFamily() {
    font-family: "Fira Mono", Consolas, "Lucidia Console", serif;
    font-size: .75em;
    line-height: 1.325;
    letter-spacing: 0.1em;
}

@mixin transparentImgBg($img, $opacity: 1) {
    position: relative;

    &:after {
        content: "";
        background: url('#{$img}');
        opacity: $opacity;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}