$colors: (
    taupe:              #998A7F,
    peach:              #D4BAA3,
    teal:               #4C6266,
    moss:               #4D8C8C,
    white:              #FFF,
    paper:              #D9D9D9,
    black:              #262626,
)